body{
  background-color: lightslategray;
}
.example-container {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  height: 100%;
}
.example-container > * {
  width: 100%;
}
.linha_200 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_201 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_202 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_203 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_204 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_205 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_206 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_207 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_208 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_300 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_301 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_302 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_303 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_304 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_305 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_400 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_401 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_402 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_500 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_501 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_502 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_503 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_504 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_505 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_506 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_507 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_508 { color: #000000; background-color: #FCD116; text-transform: uppercase; }
.linha_600 { color: #FFFFFF; background-color: #00ac00; text-transform: uppercase; }
.linha_601 { color: #FFFFFF; background-color: #00ac00; text-transform: uppercase; }
.linha_602 { color: #FFFFFF; background-color: #00ac00; text-transform: uppercase; }
.linha_603 { color: #FFFFFF; background-color: #00ac00; text-transform: uppercase; }
.linha_604 { color: #FFFFFF; background-color: #00ac00; text-transform: uppercase; }
.linha_701 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_702 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_703 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_704 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_705 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_706 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_707 { color: #FFFFFF; background-color: #ff0000; text-transform: uppercase; }
.linha_800 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_801 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_803 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_804 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_805 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_806 { color: #FFFFFF; background-color: #a347ff; text-transform: uppercase; }
.linha_900 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_901 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_902 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_903 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_904 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_905 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_906 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_907 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_zf { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_106 { color: #FFFFFF; background-color: #FF7900; text-transform: uppercase; }
.linha_zm { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_104 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_zr { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_103 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_elet-1 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_1 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_elet-18 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_18 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_elet-22 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_22 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_1m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_3m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_4m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_5m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_7m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_8m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_9m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_10m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_11m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_12m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_13m { color: #FFFFFF; background-color: #000000; text-transform: uppercase; }
.linha_209 { color: #FFFFFF; background-color: #187ec2; text-transform: uppercase; }
.linha_700 { color: #ffffff; background-color: #ff0000; text-transform: uppercase; }
.linha_700-v94 { color: #ffffff; background-color: #ff0000; text-transform: uppercase; }
.linha_v94 { color: #ffffff; background-color: #ff0000; text-transform: uppercase; }
.linha_zc { color: #ffffff; background-color: #187ec2; text-transform: uppercase; }
.linha_107 { color: #ffffff; background-color: #187ec2; text-transform: uppercase; }